
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 10px 20px;
  }
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-decoration: solid;
    text-align: center;
  }
  h4 {
    text-align: justify;
  }
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 0;
  }