* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgray;
    font-family: "Roboto", sans-serif;
     
}

html {
    scroll-behavior: smooth;
}
.container {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;  
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;    
    padding: 5px;
    width: 100%;
    height: 80px;   
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: rgb(213, 177, 33);
    font-weight: 400;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
    color: white;
    font-size: 20px;
    text-decoration: none; 
    text-transform: capitalize;
}

.navigation>li>a:hover {
    color: rgb(242, 255, 0);
    transition: all .3 ease-in-out;
}

.active {
    color: white;
    padding: 15px;
}

.active:hover {
    color: white;
}

.sidebar {
    display: flex;
    width: 300px;
    height: 100vh;
    background-color: #f1f1f1;
    padding: 20px;
  }

  .profile {
    padding: 30px;
    height: 50vh;
  }

  .tulisanprofil {
    font-family: "Roboto", sans-serif;
    font-size: 7px;
  }
    
#menu1 {
    padding: 300px;
}

#menu2 {
    padding: 300px;
    font-size: 20px;
}

#menu3 {
    padding: 300px;
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 50px;
    width: 93.5%;
    height: 100%;
    color: white;   
    background-color: black;
}

