body {
            
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="button"],
input[type="reset"] {
  padding: 8px 16px;
  margin-top: 10px;
}

input[type="radio"],
label {
  display: inline-block;
  margin-right: 10px;
}

textarea {
  resize: vertical;
}

pre {
  white-space: pre-wrap;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}